body{
	background-color: #FFF;
	margin:0;
}

.topo{
	height: 80px;
	background-color: black;

}
.menu{
	height: 40px;
	background-color: red;

}
.container{
	min-height: 200px;
	background-color: green;

}
.rodape{
	height: 80px;
	background-color: #blue;
}
